*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.canvas{
	position: relative;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#7ebaf3;
	width:100%;
	height:100vh;
}
.circle{
	position:relative;
	width:80vmin;
	height:80vmin;
	border-radius:50%;
	background:#f1d5a9;
	border:2px soid #000;
}
.eyes{
	position:absolute;
	width:15vmin;
	height:15vmin;
	border-radius:50%;
	background:#000;
	bottom:38vmin;
	right:13vmin;
	box-shadow:-37vmin 0 #000;
	animation:blink 2s infinite;
}
@keyframes blink{
	0% {transform:scale(1, 0.1);}
	100% {transform:scale(1,1);}
}
.mouth{
	position:absolute;
	width:35vmin;
	height:30vmin;
	border-radius:50%;
	background:transparent;
	border-bottom:3vmin solid #000;
	right:21vmin;
	bottom:5vmin;
}



.mostache{
    width: 180px;
    height: 180px;
    left: 100px;
    top: 40px;
    border-radius: 50%;
    position: absolute;
    color: purple;
    box-shadow: 
    
    30px 240px 0 0 currentColor,
    160px 240px 0 0 currentColor;
}
.mostache::before{
    content: "";
    position: absolute;
    left: -90px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;

}
.mostache::after{
    content: "";
    position: absolute;
    left: 250px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}
.mostache::before {
    animation: shakeLeft 1s ease-in-out infinite;
}
.mostache::after {
    animation: shakeRight 1s ease-in-out infinite;
}
@keyframes shakeLeft {
    0%{
        transform: rotate(-50deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(-50deg);
    }
}
@keyframes shakeRight {
    0%{
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(50deg);
    }
}